Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
SQLAlchemy==2.0.47
Werkzeug==3.1.2
Jinja2==3.1.4
qrcode==7.4.2
Pillow==12.1.1
python-dotenv==1.0.0
PyMySQL==1.1.0
cryptography==41.0.7
boto3==1.35.99
twilio==9.4.4
